<div class="container">
	<div class="row">
		<h2>Restaurant Name</h2>
		<%= form_for @order, remote: true, method: :patch, url: {action: "create"}, html: {id: "new_order_form"} do |f| %>
		  <%= f.text_field :restaurant %>
		  <%= hidden_field_tag 'id', current_user.id %>
		  <%= f.submit "Create" %>
		<% end %>	 
	</div>
</div>