<%= form_tag("/status", method: "post", remote: true, class: "form-group") do %>
	<select name="status" id="status" class="form-control input-sm">
	  <option value="Delivered">Delivered</option>
	  <option value="Archived">Finalized</option>
	</select>
	<%= hidden_field_tag 'id', @order.id %>
	<%= submit_tag "Set Status", class: "btn btn-info btn-block"%>
<% end %>