<% if current_user %>
	<div id="order-details">
		<div>
			<%= link_to "Create Order", new_order_path, id: "new_order", remote: true %>
		</div>
	</div>	

		<div id="show-order-details">
			<% unless @orders.empty? %>
				<% @orders.each do |order| %>
					<%= order.restaurant %>  <%= link_to "Show Order", order_path(id: order.id), remote: true %>
				<% end %>
			<% end %>
		</div>

<% end %>


